<div class="main-container">
    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-links">
            <a href="#">Buscar Propiedades</a>
            <a href="#">Publicar Propiedad</a>
            <a href="#">Contacto</a>
        </div>
        <button class="register-btn">Registrarse</button>
    </nav>
    <div id="contenedor-pago">
        <div id="caja-pago">
            <div id="monto-boton">
                <h2 id="monto-title">Pago</h2>
                <p><strong >Monto:</strong> {{monto}}</p>
                <button id="button-pagar">Pagar</button>
            </div>
            <div id="descripcion">
                <p id="descripcion-p"><strong style="font-size: larger;">Descripción</strong> <br> <br> {{descripcion}}</p>
            </div>
        </div>

    </div>
</div>